<div class="overlay" >
  <fd-dynamic-page size="large" ariaLabel="Example Dynamic Page" [autoResponsive]="false">
    <fd-dynamic-page-header
      title="Inventario automotriz "
      subtitle="Control de ingreso y salida de mercancía">


      <fd-dynamic-page-title-content>
        nexos
      </fd-dynamic-page-title-content>



    </fd-dynamic-page-header>
    <fd-dynamic-page-subheader
      [collapsible]="false"
      [pinnable]="false"
      [collapsed]="false">

    </fd-dynamic-page-subheader>
    <fd-dynamic-page-content>
      <div class="fd-dynamic-page-section-example">
        <app-data-visual></app-data-visual>
      </div>

    </fd-dynamic-page-content>

  </fd-dynamic-page>
</div>
